main {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

h1 {
    text-align: center;
}

hr {
    margin: 1rem 0;
    border: 0;
    border: 1px solid var(--primary-color);
}

h2 {
    color: var(--primary-color);
}

section.submission-data {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1rem 0;
}

section.submission-data p span {
    font-size: 1.25rem;
}

section.submission-data p > span:first-of-type {
    color: var(--primary-color);
    font-weight: bold;
}