/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Variables **/
:root {
	--primary-color: #e28413;
	--secondary-color: #000022;
	--highlight-color: #344e41;
	--text-color: #fbf5f3;
	--dark-text-color: #000;
	--gray-color: #ececec;
	--primary-font-family: 'Bebas Neue';
	--secondary-font-family: 'Lato';
	font-size: 16px;
	font-family: var(--secondary-font-family), sans-serif;
	font-weight: 400;
}

/** Classes and Elements **/
h1, h2, h3, h4, h5, h6 {
	font-size: 1.125rem;
	font-family: var(--primary-font-family), var(--secondary-font-family), sans-serif;
}

h5 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.3125rem;
}

h3 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.675rem;
}

h1 {
	font-size: 2rem;
}

.container {
	padding: 0 1rem;
}

a {
	text-decoration: none;
	font-size: 1rem;
	font-family: var(--primary-font-family);
	color: var(--text-color);
}

header, main, footer {
	margin-bottom: 1.5rem;
}

main h1 {
	color: var(--primary-color);
}

main section:not(:last-of-type) {
	margin-bottom: 1rem;
}

main section h2 {
	background-color: var(--primary-color);
	margin-bottom: 1rem;
	padding: 1rem;
	text-align: center;
	border-radius: 0.25rem;
}

hr {
	background-color: var(--gray-color);
}

.hidden {
	display: none;
}