header, header.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: var(--primary-color);
	color: var(--dark-text-color);
	font-size: 1.25rem;
	font-weight: bold;
	font-family: 'Bebas Neue';
}

header {
	position: relative;
}

header img {
	max-width: 4rem;
}

header .profile.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .menu-button {
	border: 0;
	position: relative;
	top: 0;
	right: 0;
	background-color: transparent;
	align-self: flex-start;
	
}

nav.menu-bar {
	display: none;
}

.menu-button .menu-stick {
	display: block;
	list-style-type: none;
	width: 1.5rem;
	height: 0.25rem;
	background-color: var(--dark-text-color);
	margin-bottom: 0.25rem;
	border-radius: 0.25rem;
	transition: 0.5s;
}

.menu-button:hover .menu-stick {
	scale: 1.15;
}

.menu-button .menu-stick:last-of-type {
	margin: 0;
}

header:has(.menu-bar.active) .menu-button {
	position: relative;
	z-index: 4;
}

header:has(.menu-bar.active) .menu-button .menu-stick {
	background-color: var(--gray-color);
}

header:has(.menu-bar.active) .menu-button .menu-stick:nth-child(3) {
	display: none;
}

header:has(.menu-bar.active) .menu-button .menu-stick:nth-child(1) {
	transform: rotate(60deg) translateX(0.25rem);
}
header:has(.menu-bar.active) .menu-button .menu-stick:nth-child(2) {
	transform: rotate(-60deg) translateX(0.28rem);
}

.section-content:has(img) {
	display: flex;
	flex-flow: column;
	align-items: center;
	row-gap: 1rem;
}

.section-content img {
	width: 64%;
}

ul.section-content {
	list-style: disc;
	padding-left: 2rem;
}

.course-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 1rem;
}

.course-menu button {
	background-color: transparent;
	border: 0;
	width: 100%;
	min-height: 2rem;
	background-color: var(--secondary-color);
	color: var(--text-color);
	border-radius: 0.25rem;
	font-weight: bold;
	font-family: var(--secondary-font-family), sans-serif;
}

.course-menu button:hover {
	background-color: black;
}

.courses {
	display: flex;
	flex-flow: column;
	row-gap: 0.5rem;
	margin: 1rem 0;
}

.courses li {
	display: block;
	padding: 1.5rem;
	background-color: var(--gray-color);
}

.courses li.completed {
	background-color: var(--highlight-color);
	border-radius: 0.25rem;
}

.courses li.completed p {
	color: var(--text-color);
}

.courses li p {
	color: var(--dark-text-color);
	font-weight: bold;
	text-align: center;
	font-family: var(--secondary-font-family);
}

.menu-bar.active {
	display: flex !important;
	flex: 1;
	visibility: visible;
	position: fixed;
	background-color: var(--secondary-color);
	width: 100vw;
	height: 100vh;
	z-index: 3;
	top: 0;
	left: 0;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0 !important;
	padding: 0 !important;
}

.menu-bar.active ul li {
	padding-bottom: 1rem;
}

.menu-bar ul li:hover a {
	color: var(--primary-color);
} 

.menu-bar a {
	transition: 0.5s;
	letter-spacing: 0.125rem;
	font-size: 2rem;
}

.menu-bar a.active {
	color: var(--primary-color);
}

footer {
	display: flex;
	background-color: var(--primary-color);
	flex: 1;
	margin-bottom: auto;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 1rem !important
}

footer p, footer span {
	font-family: var(--secondary-font-family);
	font-weight: bold;
	color: var(--secondary-color);
	text-align: center;
	padding-bottom: 0.5rem;
}