@import url('global.css');

body {
  padding: 1.5rem;
  background-color: var(--secondary-color);
}

/* Container for content */
.container {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: none;
  border: 1px solid var(--background-light);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 0.25rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* Paragraphs and Lists */
p {
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  margin-left: 1.25rem;
  margin-bottom: 1rem;
}

ol {
  list-style: decimal;
  margin-left: 1.25rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 1px;
  background-color: var(--accent-color); /* Gray separator */
  margin: 2em 0;
}

header, footer {
  background-color: transparent;
}

/* Color Schema Section Specific */
.color-box {
  --color-box-size: 5rem;
  display: inline-block;
  width: var(--color-box-size);
  height: var(--color-box-size);
  min-width: var(--color-box-size);
  min-height: var(--color-box-size);
  border: 1px solid var(--accent-color); /* Subtle border */
  vertical-align: middle;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

.color-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.color-info p {
  color: var(--text-color-main);
}

/* Image Styling */
img {
  margin: 1.25rem auto;
  border: 1px solid var(--accent-color);
  border-radius: 0.25rem;
  box-shadow: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding: 0.5rem
  }

  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}
